@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Bree Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.first-img {

    width: 87vw;
    height: 50vh;
}

.card-home {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}

.home-head {
    color: #FF0000;
    font-family: 'Bree Serif';
    font-size: 40px;
    font-weight: bold;
}

.home-para {
    font-family: 'Bree Serif';
    color: #6c6b70;
    font-size: 25px;
}

.button-home {
    color: #ffffff;
    font-size: 20px;
    background-color: #FF0000;
    height: 40px;
    width: 170px;
    font-weight: bold;
}

.button-pil {
    color: #ffffff;
    font-size: 16px;
    background-color: #FF0000;
    height: 30px;
    width: 80px;
    font-weight: bold;
}

.button-products {
    color: #ffffff;
    font-size: 18px;
    background-color: #FF0000;
    height: 40px;
    font-weight: bold;
    width: 100px;
    margin-top: 20px;
}

.bg-container-flats {
    padding: 15px;
    background-image: url('https://img.freepik.com/free-vector/blue-polygonal-shapes-background_1053-434.jpg?w=740&t=st=1687091198~exp=1687091798~hmac=2a234da65b1d97211ee72474b5f481bb119808ece9b1d82c21edfc7707bd2ace');
    background-size: cover;
}

.flats-head {
    color: #FF0000;
    font-family: 'Bree Serif';
    font-size: 35px;
}

.flat-image {
    height: 120px;
    width: 100px;
    margin-right: 15px;
    border-radius: 5px;
}

.flat-card-head {
    color: black;
    font-family: 'Bree Serif';
    font-weight: bold;
    font-size: 20px;
}

.flat-card-para {
    color: white;
    font-family: 'Bree Serif';
    font-size: 12px;
}

.flat-card {
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    background-color: #46C7C7;
}

.description-image {
    height: 300px;
}

.product-name {
    color: black;
    font-family: "robotto";
    font-weight: bold;
}

.description-head {
    margin: 15px;
    margin-bottom: 20px;
    color: black;
    font-size: 25px;
    font-family: 'Bree Serif';
    font-weight: bold;
}

.description-title {
    color: #FF0000;
    font-family: 'Bree Serif';
    font-size: 15px;
    font-weight: bold;
}

.description-para {
    color: black;
    font-size: 14px;
}

.button-back {
    color: #ffffff;
    font-size: 13px;
    background-color: #FF0000;
    height: 25px;
    width: 100px;
    font-weight: bold;
    margin: 15px;
}

.bg {
    background-image: url('https://img.freepik.com/free-vector/blue-polygonal-shapes-background_1053-434.jpg?w=740&t=st=1687091198~exp=1687091798~hmac=2a234da65b1d97211ee72474b5f481bb119808ece9b1d82c21edfc7707bd2ace');
    background-size: cover;
    padding: 50px;
}

.txt {
    font-size: 25px;
    font-weight: bold;
}

.crel {
    height: 20vh;
    width: 60vw;
}

.mat {

    color: #FF0000;
    margin-top: 50px;
    font-weight: bold;
    font-family: "Sans-Serif";

}

.pil {
    font-weight: bold;
    font-family: "Sans-Serif";
    color: #FF0000;
    margin-top: 50px;

}

.what {
    height: 40px;
    width: 40px;
}

.buy {
    font-family: 'robotto';
    font-weight: bold;
    font-style: italic;
}

.buynow {
    background-position: left;
    background-size: cover;
    width: 100vw;
    background-image: url('https://img.freepik.com/free-vector/blue-polygonal-shapes-background_1053-434.jpg?w=740&t=st=1687091198~exp=1687091798~hmac=2a234da65b1d97211ee72474b5f481bb119808ece9b1d82c21edfc7707bd2ace');
}

.button-buy {
    color: #ffffff;
    font-size: 17px;
    background-color: #FF0000;
    height: 35px;
    width: 120px;
    font-weight: bold;
    margin-bottom: 20px;
}